<footer class="site-footer">
    {{!-- you can remove it --}}
        <section class="poweredby ghost">
            By Simple and Powerful <a href="https://ghost.org" target="_blank">Ghost</a><br>
            Based on free theme by myself <i class="fa fa-smile-o"></i>
        </section>
        <section class="poweredby px-themes">
            Find This Theme on <a href="https://github.com/songjinzhong/Ghosttheme_sjz" target="_blank">GitHub</a><br>       
            Learn More and Know More <i class="fa fa-heart"></i>
        </section>
    {{!-- remove it --}}
</footer>
