<footer class="site-footer">
    {{!-- you can remove it --}}
        <section class="poweredby ghost">
            感谢 <a href="https://ghost.org" target="_blank">Ghost</a> 开源博客平台<br>
            感谢 <a href="https://github.com/juliancwirko/abc" target="_blank">abc@github</a> 提供模板
        </section>
        <section class="poweredby px-themes">
            Based on free theme by <i class="fa fa-smile-o"></i> myself<br>
            Learn More and Know More <i class="fa fa-heart"></i>
        </section>
    {{!-- remove it --}}
</footer>
